<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/template.html :: app_header(~{::script},~{},~{})">
	<script th:src="@{/home/js/home.js}"></script>
</head>

<body th:replace="templates/template.html :: app_body(~{::div},#{DXC.WDXC0000.Screen.Id} ,#{DXC.WDXC0000.Screen.Desc})">
	<div style="width:100%;" id="screenContent">
		<div style="width: 100%;">
			<div class="sixteen wide column row">
				<form class="ui form raised segment" id="mainForm" style="width: 100%;">
					<div class="fields">
						<div class="four wide field">
							<label>[[#{DXC.WDXC0001.Label.Type}]]</label>
							<input type="file" id="uploadFile">
						</div>
						<div class="three wide field">
							<label>Birth Date</label>
							<div class="ui mini calendar" id="birthDateCal">
								<div class="ui active mini input left icon">
									<i class="calendar icon"></i>
									<input id="birthDate" name="birthDate" type="text" placeholder="DD/MM/YYYY">
								</div>
							</div>
						</div>
					</div>
					<div class="fields">
						<div class="four wide field">
							<div class="ui active mini button" id="upload"><i class="upload icon"></i>Upload</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- <div id="uploadCard" class="ui card" style="display: none;">
			<div class="content">
				<div id="uploadDelete" class="right floated meta"><i class="ui red x icon"></i></div>
			</div>
			<div class="image">
				<img id="uploadPic">
			</div>
			<div class="extra content">
				<a id="uploadLink" target="_blank">Download</a>
			</div>
		</div> -->
	</div>
	<div class="ui mini modal" id="imageModal">
		<div class="ui black header">
		</div>
		<div class="content">
			<div id="uploadCard" class="ui card">
				<div class="image">
					<img id="uploadPic">
				</div>
				<div class="extra content">
					<a id="uploadLink" target="_blank">Download</a>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui center floated button" id="modalUploadOK">
				<i class="checkmark icon"></i> [[#{DXC.Button.OK}]]
			</div>
		</div>
	</div>
</body>

</html>