<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/template.html :: app_header(~{::script},~{},~{})">
	<script th:src="@{/home/js/home.js}"></script>
</head>

<body>
	<div th:replace="templates/template.html :: app_menu"></div>
	<div th:replace="templates/template.html :: app_page_header(#{DXC.WDXC0000.Screen.Id} ,#{DXC.WDXC0000.Screen.Desc})"></div>
	<div th:replace="templates/template.html :: app_page_footer"></div>
	<div class="pusher">
		<div class="ui fluid container" style="margin-top: 5rem; margin-bottom: 10rem; padding-left: 1rem; padding-right: 1rem;">
			<div class="ui grid">
				<!--content for messageBar dimmer modal-->
				<div th:replace="templates/template.html :: app_page_confirmModal"></div>
				<div th:replace="templates/template.html :: app_page_alertModal"></div>
				<!--end content for messageBar dimmer modal-->
				<div style="width: 100%;">
					<div class="sixteen wide column row">
						<form class="ui form raised segment" id="mainForm" style="width: 100%;">
							<div class="fields">
								<div class="four wide field">
									<label>[[#{DXC.WDXC0001.Label.Type}]]</label>
									<input type="file" id="uploadFile">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="uploadCard" class="ui card" style="display: none;">
					<div class="image">
						<img id="uploadPic">
					</div>
					<div class="extra content">
						<a id="uploadLink" target="_blank">Download</a>
					  </div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>