<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/template.html :: app_header(~{::script},~{::link},~{})">
    <script th:src="@{/scripts/dataTables.buttons.min.js}"></script>
    <script th:src="@{/scripts/buttons.semanticui.min.js}"></script>
    <script th:src="@{/scripts/buttons.html5.min.js}"></script>
    <script th:src="@{/scripts/jszip.min.js}"></script>
    <script th:src="@{/personsmaster/js/persontest-call-api.js}"></script>
    <script th:src="@{/personsmaster/js/persontest.js}"></script>

    <link th:href="@{/css/buttons.semanticui.min.css}" rel='stylesheet' />
</head>

<body th:replace="templates/template.html :: app_body(~{::div},#{DXC.WDXC0002.Screen.Id} ,#{DXC.WDXC0002.Screen.Desc})">
    <div style="width:100%;" id="screenContent">

        <div id="personSearchSection" style="width:100%;">
            <div class="sixteen wide column row">
                <form class="ui form raised segment" id="personForm" style="width: 100%;">
                    <div class="fields">
                        <div class="three wide field">
                            <label>[[#{DXC.WDXC0002.Label.Citizen}]]</label>
                            <div class="ui mini basic input">
                                <input type="text" name="searchCitizenId">
                            </div>
                        </div>
                        <div class="one wide field">
                         &nbsp;
                        </div>
                        <div class="three wide field">
                            <label>[[#{DXC.WDXC0002.Label.FirstName}]]</label>
                            <div class="ui mini basic input">
                                <input type="text" name="searchFirstName">
                            </div>
                        </div>
                        <div class="one wide field">
                            &nbsp;
                        </div>
                        <div class="three wide field">
                            <label>[[#{DXC.WDXC0002.Label.LastName}]]</label>
                            <div class="ui mini basic input">
                                <input type="text" name="searchLastName">
                            </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field"></div>
                        <div class="field"></div>
                        <div class="field" id="buttonPanel" style="text-align: right;">
                            <div class="ui active mini button" id="WDXC0002Search" data-auth="no"><i class="search icon"></i>[[#{DXC.Button.Search}]]</div>
                            <div class="ui active mini button" id="WDXC0002Clear" data-auth="no"><i class="paint brush icon"></i>[[#{DXC.Button.Clear}]]</div>
                            <div class="ui active mini button" id="WDXC0002Add" data-auth="no"><i class="add icon"></i>[[#{DXC.Button.Add}]]</div>
                            <div class="ui active mini button" id="WDXC0002Edit" data-auth="no"><i class="write brush icon"></i>[[#{DXC.Button.Edit}]]</div>
                            <div class="ui active mini button" id="WDXC0002Delete" data-auth="no"><i class="write brush icon"></i>[[#{DXC.Button.Delete}]]</div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
            <div class="ui clearing hidden divider"></div>
            <div class="sixteen wide column row" id="searchResultSection" style="display: none;">
                <h4 class="ui dividing header">[[#{DXC.WDXC0002.Screen.Modal.Header}]]</h4>
                <table id="tableGimTypeHeaderResult" class="ui celled striped unstackable table" style="width:100%;">
                    <thead>
                    <tr style="text-align: center;">
                        <th></th>
                        <th>[[#{DXC.WDXC0002.Label.Citizen}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.FirstName}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.LastName}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.BirthDate}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.Address}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.Picture}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.ModifiedBy}]]</th>
                        <th>[[#{DXC.WDXC0002.Label.ModifiedDate}]]</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>


            <div id="pesonenEditSection" style="width: 40%;display:none;">
                <div class="content">
                    <div class="sixteen wide column row">
                        <form class="ui form segment" id="editGimHeaderForm" style="width: 100%;">
                            <h4 class="ui dividing header">[[#{DXC.WDXC0002.Screen.Modal.Header}]]</h4>
                            <input type="hidden" id="mode" name="mode">
                            <div class="field">
                                <label for="Citizen">[[#{DXC.WDXC0002.Label.Citizen}]]</label>
                                <div class="ui mini basic mandatory input">
                                    <input type="text" name="citizenId">
                                </div>
                            </div>
                            <div class="field">
                                <label for="firstName">[[#{DXC.WDXC0002.Label.FirstName}]]</label>
                                <div class="ui mini basic mandatory input">
                                    <input type="text" name="firstName">
                                </div>
                            </div>
                            <div class="field">
                                <label for="lastName">[[#{DXC.WDXC0002.Label.LastName}]]</label>
                                <div class="ui mini basic mandatory input">
                                    <input type="text" name="lastName">
                                </div>
                            </div>

                            <div class="field">
                                <label for="birthDate">[[#{DXC.WDXC0002.Label.BirthDate}]]</label>
                                <div class="ui mini calendar" id="searchDateTimeFromCal">
                                    <div class="ui active mini input left icon">
                                        <i class="calendar icon"></i>
                                        <input id="searchDateTimeFrom" name="searchDateTimeFrom" type="text" placeholder="DD/MM/YYYY HH:mm">
                                    </div>
                                </div>
                            </div>


                            <div class="field">
                                <label for="Picture">[[#{DXC.WDXC0002.Label.Address}]]</label>
                                <div class="ui mini basic mandatory input">
                                    <textarea></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label for="Picture">[[#{DXC.WDXC0002.Label.Picture}]]</label>
                                <div class="ui mini basic mandatory input">
                                    <input type="file" id="uploadFile">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="ui clearing hidden divider"></div>
                <div class="actions" style="text-align: right;">
                    <div class="ui active mini button" id="WDXC0002Save" data-auth="no"><i class="checkmark icon"></i>[[#{DXC.Button.Save}]]</div>
                    <div class="ui active mini button" id="WDXC0002Cancel" data-auth="no"><i class="remove icon"></i>[[#{DXC.Button.Cancel}]]</div>
                </div>
            </div>



    </div>
</body>

</html>