<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/template.html :: app_header(~{::script},~{::link},~{})">
    <script th:src="@{/scripts/dataTables.buttons.min.js}"></script>
    <script th:src="@{/scripts/buttons.semanticui.min.js}"></script>
    <script th:src="@{/scripts/buttons.html5.min.js}"></script>
    <script th:src="@{/scripts/jszip.min.js}"></script>
    <script th:src="@{/vue/js/vue-call-api.js}"></script>
    <script th:src="@{/vue/js/vue.js}"></script>
    <script th:src="@{/scripts/vue.global.js}"></script>
    <script th:src="@{/scripts/vuex.global.js}"></script>

    <link th:href="@{/css/buttons.semanticui.min.css}" rel='stylesheet' />
    <link th:href="@{/css/calendar.min.css}" rel='stylesheet' />
</head>
<body th:replace="templates/template.html :: app_body(~{::div},#{DXC.WDXC0002.Screen.Id} ,#{DXC.WDXC0002.Screen.Desc})">
<div style="width:100%;" id="screenContent">
    <div id="personalInfoSearchSection" style="width:100%;">
        <div class="sixteen wide column row">
            <div id="counter">
                Counter: [{{ counter }}]
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({

    })
</script>

</body>
</html>