<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="templates/template.html :: app_header(~{::script},~{::link},~{})">
    <script th:src="@{/scripts/dataTables.buttons.min.js}"></script>
    <script th:src="@{/scripts/buttons.semanticui.min.js}"></script>
    <script th:src="@{/scripts/buttons.html5.min.js}"></script>
    <script th:src="@{/scripts/jszip.min.js}"></script>
    <script th:src="@{/gimmaster/js/gimmaster-call-api.js}"></script>
    <script th:src="@{/gimmaster/js/gimmaster.js}"></script>

    <link th:href="@{/css/buttons.semanticui.min.css}" rel='stylesheet' />
</head>

<body th:replace="templates/template.html :: app_body(~{::div},#{DXC.WDXC0001.Screen.Id} ,#{DXC.WDXC0001.Screen.Desc})">
    <div class="sixteen wide column row" style="width:100%;" id="screenContent">
        Content Here
    </div>
</body>

</html>